name: Astronomer CI - Deploy code (Multiple Branches) - full deploy

on:
  push:
    branches: [dev,main]
  pull_request:
    types:
      - closed
    branches: [main]

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.filter.outputs.dags }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            dags:
              - 'dags/**'
  dev-push:
    needs: paths-filter
    environment: customer-success-dev
    if: ${{ (github.ref == 'refs/heads/dev') && (needs.paths-filter.outputs.dags=='true') }}
    env:
      ## Sets DEV Deployment API key credentials as environment variables
      ASTRONOMER_KEY_ID: ${{ secrets.GCP_DEV_ASTRONOMER_KEY_ID }}
      ASTRONOMER_KEY_SECRET: ${{ secrets.GCP_DEV_ASTRONOMER_KEY_SECRET }}
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v3
    - name: Deploy to Astro
      run: |
        curl -sSL install.astronomer.io | sudo bash -s
        astro deploy -f
  prod-push:
    needs: paths-filter
    environment: customer-success
    if: ${{ (github.ref == 'refs/heads/main') && (needs.paths-filter.outputs.dags=='true') }}
    env:
      ## Sets PROD Deployment API key credentials as environment variables
      ASTRONOMER_KEY_ID: ${{ secrets.GCP_ASTRONOMER_KEY_ID }}
      ASTRONOMER_KEY_SECRET: ${{ secrets.GCP_ASTRONOMER_KEY_SECRET }}
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v3
    - name: Deploy to Astro
      run: |
        curl -sSL install.astronomer.io | sudo bash -s
        astro deploy -f
